# 1. Generelle Python Übungen

In diesem Notebook könnt ihr erneut eure generellen Python Kenntnisse auffrischen und üben.

In [4]:
# import der NumPy Library
import numpy as np

# import der plot library
import matplotlib.pyplot as plt

In [5]:
x = 1
y = 2

In [6]:
# Addiere hier x und y
x + y

3

In [7]:
a = "Nachhaltig"
b = "keit"

In [8]:
# Addiere hier a und b, was erwartest du?
a + b

'Nachhaltigkeit'

In [9]:
def f(a,b):
    return a + b

In [10]:
# Rufe nun die Funktion f mit x und y auf
f(x,y)

3

In [11]:
# Rufe nun die Funktion f mit a und b auf
f(a,b)

'Nachhaltigkeit'

# 2. Listen und Arrays

In [12]:
l = []
l.append(1)
l.append(2)

l

[1, 2]

In [13]:
# Die ist eine Liste von Zahlen
l = [1,2,3,4,5,6]

In [14]:
# ein NumPy array
array = np.array(l)
array

array([1, 2, 3, 4, 5, 6])

In [15]:
a = np.array(range(10))
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
44100000000000000000000000000000000000000**44

2266198441733304036994229441541914294374731076208098668299167410481095483635988895531597282959594504652629367722209610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [36]:
# Erstelle ein Array das die Elemente [2, 4, ..., 20] enthält
np.array(range(2,21,2))

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [35]:
# Nur mit * und + operationen
np.array([2 + i * 2 for i in range(10)])

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [37]:
# Mit range
np.arange(2, 21, 2)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [41]:
np.linspace(2, 20, 10, dtype=int)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [43]:
# Mit np.linspace
# Tippe ?np.linspace für Hilfe
?np.linspace
np.linspace(2, 20, 10, dtype=int)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

## 2.1 List Comprehension

In [52]:
# Was macht dieser Ausdruck?
[np.sqrt(i) + 3 / (i + 1) for i in range(10)]

[3.0,
 2.5,
 2.414213562373095,
 2.482050807568877,
 2.6,
 2.73606797749979,
 2.8780611713546063,
 3.0207513110645907,
 3.1617604580795238,
 3.3]

In [53]:
np.array([i for i in range(10)])

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [57]:
[i + 123 for i in range(10) if i > 2 and i <= 4 and i % 2 == 1]

[126]

In [58]:
[i for i in range(10) if i > 2 and i % 2 == 0]

[4, 6, 8]

In [65]:
# Versuche nun mit den Hinweisen eine Liste zurückzugeben, die die ersten 50 ungeraden Zahlen enthält
odd = []
i = 0

while len(odd) < 50:
    if i % 2 != 0:
        odd.append(i)
    i += 1
    #i = i + 1
    
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [68]:
j = 2
[i + j for i in range(3)]

[2, 3, 4]

In [71]:
# Hilfe
[[i + j for i in range(3)] for j in range(3)]

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [73]:
np.array([[0], [1,2], [2,3,4]])

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (3,) + inhomogeneous part.

In [75]:
[[i + j for i in range(1,8,3)] for j in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [74]:
np.array([[i + 3 * j for i in range(3)] for j in range(3)])

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [27]:
# Versuche eine Matrix mit for Schleifen zu bauen, die so aussieht: [[0,1,2],[3,4,5],[6,7,8]]
a = np.zeros((3,3), dtype=int)
for i in range(3):
    for j in range(3):
        a[i,j] = 3 * i + j
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [78]:
np.zeros((3,3), dtype=int)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [28]:
# Versuche eine Matrix mit for Schleifen zu bauen, die so aussieht: [[1,4,7],[2,5,8],[3,6,9]]

In [29]:
a.transpose() + 1

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [30]:
a = np.zeros((3,3), dtype=int)
for i in range(3):
    for j in range(3):
        a[i,j] = 3 * j + i + 1
        
a

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

# 3. Zufallszahlen

In [269]:
# Was macht diese Funktion?
np.random.randn()

1.0523622926192642

In [308]:
a = ["Filip", "Elisabeth"]
np.random.shuffle(a)
a

['Elisabeth', 'Filip']

In [92]:
round(np.floor(np.sqrt(x)))

1

In [128]:
def is_prime(x):
    if x % 2 == 0:
        return False
    
    for i in range(3, int(np.floor(np.sqrt(x))), 2):
        if x % i == 0:
            return False
        
    return True

In [129]:
1.1 % 1

0.10000000000000009

In [135]:
for i in range(10000000000000000, 1000000000000000000000000000):
    if is_prime(i):
        print(i)
        break

10000000000000061

In [502]:
# Erstelle eine Funktion, die ein (3,3) Array zufälligen Zahlen zurückgibt.
is_prime(1_299_709)

True

In [314]:
%%timeit
np.random.rand(10000, 10000);

392 ms ± 20.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [316]:
# Erstelle eine Funktion, die Array mit zufälligen, gleichverteilten Zahlen aus dem Interval [0,1] zurückgibt
np.random.randn()

-0.8863285706164188

In [332]:
# Erstelle eine Funktion, die zufällig die Buchstaben "a" und "b" zurückgibt.
# kleiner Tipp mit: ["a", "b"][1] oder ["a", "b"][0] greift man auf ein Listen Element zu

def f():
    return ["a","b"][round(np.random.rand())]
    
f()


def g():
    x = ["a","b"]
    return np.random.choice(x)
    
g()

'a'

In [325]:
def a_or_b():
    if np.random.rand() < 0.5:
        return "a"
    else:
        return "b"

In [92]:
a_or_b()

'b'

In [99]:
?np.random.rand

In [354]:
a = [1,2,3,4,5,6,7,8,9]

In [359]:
# Erstelle eine Funktion, die zufällig ein Listenelement
# aus einer beliebigen Liste zurückgibt
def random_pick(names):
    index = np.random.randint(len(names))
    return names[index]
    
    #return names[np.random.randint(len(names))]

random_pick([1,2,3,4,5])

4

In [419]:
# Schreibe eine Funktion, die eine Liste zufällig durchmischt
def random_mix(names):
    names_n = names.copy()
    new_list = []
    
    counter = 0
    for i in range(len(names)):

        name = np.random.choice(names_n)
        names_n.remove(name)
        new_list.append((name, counter))
        counter += 1
        
    return new_list

In [422]:
random_mix(["Filip", "Maxi", "Felix", "Filip"])

[('Felix', 0), ('Filip', 1), ('Filip', 2), ('Maxi', 3)]

In [406]:
# Schreibe eine Funktion, die aus einer Liste mit Namen folgenden zufälligen Output erzeugt:
# Input: ["Myrdin", "Thyra", "Siyi"]
# Output: [(1, "Myrdin"), (0, "Thyra"), (2, "Siyi")]
# oder: [(2, "Siyi"), (0, "Thyra"), (1, "Myrdin")]


# Benutze dafür z.B. l.append wobei l eine Liste ist.

# 4. Funktionen

In [ ]:
def f():
    if 5 > 3:
        return "hallo"
    else:
        "blub"

In [ ]:
f()

In [431]:
# Schreibe eine Funktion mit folgendem Output:
# fizzbuzz(1) == "1"
# fizzbuzz(2) == "2"
# fizzbuzz(3) == "Fizz"
# fizzbuzz(5) == "Buzz"
# fizzbuzz(15) == "Fizz Buzz"

def single_fizzbuzz(i):
    
#    for i in range(1, n):
    if i % 15 == 0:
        print("Fizz Buzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

In [449]:
# Schreibe eine Funktion mit folgendem Output:
# fizzbuzz(1) == "1"
# fizzbuzz(2) == "2"
# fizzbuzz(3) == "Fizz"
# fizzbuzz(5) == "Buzz"
# fizzbuzz(15) == "Fizz Buzz"

def single_fizzbuzz(i):
    if i <= 1:
        raise(ArithmeticError("NAka"))
    string = ""
#    for i in range(1, n):
    if i % 3 == 0:
        string += "Fizz"
    if i % 5 == 0:
        string += "Buzz"
    
    if string == "":
        print(i)
    else:
        print(string)

In [451]:
single_fizzbuzz(13)

13

In [ ]:
# Schreibe eine Funktion mit folgendem Output:
# fizzbuzz(16) == "1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz"
# Das heißt die Länge des Outputs hängt von der Zahl ab. Der Output soll entweder ein langer String oder 
# eine lange Liste sein
def fizzbuzz(n):
    return "fizzbuzz"

In [456]:
# Schreibe eine Funktion sum, die alle Listen Elemente addiert
# verwende dafür das Konstrukt: for element in liste

def sum(x):
    acc = 0
    
    #for i in range(len(x)):
    #    acc += x[i]
        
    for element in x:
        acc += element

    return acc

In [457]:
sum([1,2,3,4,5])

15

In [468]:
# Schreibe eine Funktion sum, die alle positiven Listen Elemente addiert
# verwende dafür das Konstrukt: for element in liste

def positive(x):
    acc = 0
        
    for element in x:
        if element > 0:
            acc += element

    return acc

In [469]:
positive([-1, 1, 2, -1])

3

In [ ]:
# Schreibe eine Funktion sum, die alle Listen Elemente, die eine bestimmte Boolschen Bedingung erfüllen, addiert
# verwende dafür das Konstrukt: for element in liste

def sum_condition(x, bool_function):
    return "todo"

In [ ]:
sum_condition([1,2,3,4,5,100, 1000], lambda x: x > 99) # der output soll 1100 sein

In [477]:
# Schreibe eine Funktion, welche die ersten n Quadratzahlen ausgibt
# quadrat(5) = [1, 4, 9, 16]


def quadrat(n):
    return [i**2 for i in range(1, n)]

In [479]:
quadrat(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [481]:
# Schreibe eine Funktion, welche die ersten n Fibonacci Zahlen ausgibt
# fibonacci(7) = [1,1,2,3,5,8,13]


def fibonacci(n):
    liste = [1, 1]
    
    for i in range(n - 2):
        liste.append(liste[-1] + liste[-2])
    return liste

In [493]:
liste = fibonacci(10001)

In [494]:
liste[5] / liste[4]

1.6

In [495]:
liste[10] / liste[9]

1.6181818181818182

In [496]:
liste[10000] / liste[9999]

1.618033988749895

In [498]:
(1 + np.sqrt(5)) / 2

1.618033988749895

In [ ]:
# Schreibe eine Funktion, welche die ersten n Primzahlen Zahlen ausgibt (schwieriger)
# primzahlen(7) = [2,3,5,7,11]


def primzahlen(n):
    return "todo"

# 5. Numpy

In [ ]:
# Schreibe eine Funktion, die jedes n-te Element zurückt

def nth(l, n):
    return "todo"

In [ ]:
nth([1,2,3,4,5,6], 3) == [1,4]

In [ ]:
# Schreibe eine Funktion, die jedes n-te Element zurückt, aber in umgekehrter Reihenfolge

def nth_reverse(l, n):
    return "todo"

In [ ]:
nth_reverse([1,2,3,4,5,6], 3) == [4,1]

In [ ]:
# Schreibe eine Funktion die folgendes macht:
# union(np.array([1,2,3]), np.array([4,5,6])) == np.array([1,2,3,4,5,6])

def union(a, b):
    return "todo"

In [ ]:
# Definiere eine Funktion, die folgendes macht:
# separate(array([[0.37439962, 0.3130642 ],
#                 [0.15061138, 0.13846712],
#                 [0.99044808, 0.54289507],
#                 [0.03670066, 0.21479558],
#                 [0.83293058, 0.26468362]]), 3) 
# Output:
# (array([[0.69015301, 0.1991521 ],
#         [0.81496534, 0.60210135],
#         [0.46524354, 0.78118968]]),
#  array([[0.09578038, 0.29824532],
#         [0.72648886, 0.49476367]]))


def separate(arr, n):
    return "todo"

In [ ]:
separate(np.random.rand(5,2), 3)

In [ ]:
# Definiere eine Funktion, die wie separate funktioniert, aber nun die andere Dimension separiert!
def separate_2(arr, n):
    return "todo"

In [ ]:
# Schreibe eine Funktion, die an einer Liste von Indices, 
# eine 1 schreibt. Ansonsten soll das Array nur aus 0en bestehen

# fill((3,3), np.array([(1,2), (0,0)])) == np.array([[1,0,0],[0,0,1],[0,0,0]])

def fill(sz, ibnds):
    return "todo"

# 6. Plotten

In [ ]:
# plotte zwei Perioden von einer Sinus und Cosinus Kurve

In [ ]:
# Versuche 5 Datenpunkte mit Recyclingquote über Jahreszahl zu finden.
# Erstelle einen Plot mit Achsenbeschriftung, Titel und Legende

In [ ]:
plt.plot([1,2,3],[1,2,9])